<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        p{
            font-size:45px;
            width: 100%;
            margin: 30% auto;
            text-align: center;
        }
        input{
	    font-size:40px;
            width: 80%;
            height: 70px;
            margin: 50px auto;
            text-align:center;
        }
        div{
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
    <p>复制链接到浏览器打开下载</p>
    <div>
<input type="text" value="https://farm.wechatchat.cn"/></div>
</body>
</html>
